; Language
locale = "fr"

; Rendering engine
rendererbackend = "gl"
vsync = false

; Sharpness
textures.quality = 0          ; 0 low, 1 medium, 2 high
textures.maxanisotropy = 1    ; 1 = anisotropic filtering disabled
antialiasing = "disabled"     ; disabled, fxaa, msaa2/4/8/16

; Effects
shadows = false
shadowpcf = false
watereffects = false
waterfancyeffects = false
waterrealdepth = false
waterrefraction = false
waterreflection = false
particles = false
silhouettes = false
postproc = false

; Window
windowed = true

; Telemetry (0 A.D. UserReport) disabled by default
userreport.enabledversion = "0"
